#body{
    padding-top:100px;
    
}


.container-fluid{
    border-radius:8px;
    padding-bottom:16px;
    padding-top:10px;
    background-color:lightgray;
    max-width:40vw;
}
label{
    font-weight:600;
}
.form-title{
    font-weight:500;
    color:darkblue;
}
@media (max-width:600px){
    .container-fluid{
        max-width:80vw;
    }
}
@media (min-width:600px) and (max-width:1000px){
    .container-fluid{
        max-width:60vw;
    }
}